html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#bookShelf {
	width: 80vw;
	background: black;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
	gap: 5px;
}

h1 {
	font-size: 5vw;
}

input {
	width: 70vw;
	height: 50px;
	background: white;
	border-radius: 25px;
}

.controlPanel {
	width: 90vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	width: 100vw;
	height: 300px;
	background: black;
	color: white;
}

.menuBox {
	width: 50px;
	height: 50px;
	background-color: black;
	display: flex;
	flex-direction: column; 
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
}

.menuBar {
	width: 40px;
	height: 5px;
	background: white;
	margin: 5px 0;
	border-radius: 3px;
}

.footer {
	width: 100vw;
	height: 500px;
	background: black;
}

