html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: black;
}

.bookCard {
}

#bookShelf {
	width: 80vw;
	background: black;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
	gap: 5px;
}

h1 {
	font-size: 5vw;
	margin-left: 5vw;
}

input {
	width: 70vw;
	height: 45px;
	background: white;
	border-radius: 25px;
	font-size: 1.5rem;
	padding-left: 20px;
}

.header {
	width: 100vw;
	height: 300px;
	background: black;
	color: white;
}

.controlPanel {
	width: 90vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.menuWrap {
	position: relative;
	display: inline-block;
}

.filterBar {
	flex: 1;
}

.menuBox {
	width: 50px;
	height: 50px;
	background-color: black;
	display: flex;
	flex-direction: column; 
	justify-content: center; /* horizontal */
	align-items: center; /* vertical */
	margin-left: 5vw;
}

.menuBar1 {
	width: 40px;
	height: 4px;
	background: white;
	margin: 5px 0;
	border-radius: 3px;
}

.menuBar2 {
	width: 32px;
	height: 4px;
	background: white;
	margin: 5px 0;
	border-radius: 3px;
}

.menuBar3 {
	width: 24px;
	height: 4px;
	background: white;
	margin: 5px 0;
	border-radius: 3px;
}

.sortMenu {
	position: absolute;
	top: calc(100% + 6px);
	left: 0;
	min-width: 10vw;
	background: white;
	border: 1px solid white;
	border-radius: 1px;
}

.sortMenu button {
	font-size: 1rem;
	display: block;
	width: 100%;
	border: solid 2px;
	background: black;
	color: white;
	text-align: left;
	cursor: pointer;
}

.sortMenu button:hover {
	background: #f3f3f3;
	color: black;
}

.hidden {
	display: none;
}

.footer {
	width: 100vw;
	height: 200px;
	background: black;
	color: white;
	font-size: 1rem;
	padding-left: 5vw;
	padding-top: 2.5vw;
}
